<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Create User</title>
</head>

<body>
    <h1>User</h1>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title" >{{user.first_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{user.last_name}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Created at {{user.created_at.strftime("%b %d %Y")}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Last Updated {{user.updated_at.strftime("%b %d %Y")}}</h6>
            <a href='/user/edit/{{user.id}}'>EDIT</a> |
            <a href='/user/destroy/{{user.id}}'>DELETE</a>
            
        </div>
    </div>
    <a href="/"><button type="submit" class="btn btn-primary">Home</button></a>
</body>

</html>